@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
body{
    font-family: "Lexend", sans-serif;
}

.btn.MuiButton-root {
    font-weight: 500;
    padding: 10px 18px;
    margin: 5px 0px;
    width: 100%;
    box-shadow: none;
    border-radius: 8px;
    text-transform: capitalize;
}

#btn-primary{
    background-color: rgb(85, 239, 196);
    color: rgb(0, 0, 0);
}

#btn-secondary{
    background-color: rgb(85, 90, 239);
}

#bolt-icon{
    color: #fd0;
}

.company-details > img{
    width: 25px;
    height: 2.5rem;
}

.role-details>h3, .info-container{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3px;
    color: #8b8b8b;
    text-transform: capitalize;
    margin: 0 0 6px;
}
.salary {
    font-size: 14px !important;
    margin: 8px 0 !important;
    color: rgb(77, 89, 106) !important;
    font-weight: 400 !important;
}
.role-details>h4{
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

.job-card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
    border-radius: 20px !important;
}

.filter-div .MuiInputBase-root{
    margin-right: 5px;
}

.company-details {
    display: flex;
    gap: 0.5rem;
}

.cards-sub-text {
    font-size: 11px;
    font-weight: 500;
    margin-top: 5px;
    text-transform: capitalize;
}